<h1>Registered Students are</h1>
<table align="center" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Roll No</th>
      <th>Student Name</th>
      <th>Age</th>
      <th>Address</th>
      <th>Gender</th>
    </tr>
  </thead>
  <tbody *ngFor="let value of values">
    <tr>
      <td>{{value.personId}}</td>
      <td>{{value.personName}}</td>
      <td>{{value.personAge}}</td>
      <td>{{value.personAddress}}</td>
      <td>{{value.gender}}</td>
    </tr>
  </tbody>
</table>